.root {
    width: 50%;
    float: left;
    
}

connection {
    border: 5px solid #b51c29;
    border-radius: 10px;
}

.circle {
	border-radius: 50%;
	width: 60px;
	height: 60px; 
    border: 1px dashed blue;
	
}

.child {
    display: flex;
   
    
    border: 1px dashed blue; 
    width: 40%;
    height: 60px;
    margin: auto;
    margin-top: 80px;
    

    
    
    
    /*float: left;
    clear: both;*/
    
    
}

.depth_1 {

}

.depth_2 {

}

.depth_3 {


}

.depth_4 {

}

.depth_5 {

}
